<header>
    <div class="user-info">
        <h1><%= user.username %></h1>
        <p><%= user.status %></p>
    </div>
    <div class="links">
        <a href="/exclusive">BECOME EXCLUSIVE?</a>
        <a href="/add">ADD A MESSAGE</a>
        <a href="/log-out">LOG OUT</a>
    </div>
</header>