<header>
    <div class="user-info">
        <p><%= user.username %> </p>
        <p> / </p>
        <h4><%= user.status %></h4>
    </div>
    <div class="links">
        <a href="/exclusive">Upgrade status</a>
        <a href="/log-out">Log out</a>
    </div>
</header>