<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Log In</title>
  </head>
<body>
  <% if (locals.user) {%>
    <h1>WELCOME BACK <%= user.username %></h1>
    <p>Your status: <%= user.status %></p>
    <%- include('messages', {messages: messages, user: user}) %>
    <div class="links">
      <a href="/exclusive">BECOME EXCLUSIVE?</a>
      <a href="/log-out">LOG OUT</a>
      <a href="/add">ADD A MESSAGE</a>
    </div>
  <% } else { %>
    <%- include('login') %>
  <%}%>
</body>
</html>