<html>
    <head>
        <title>Log in</title>
        <link rel="stylesheet" href="/styles/login.css">
    </head>
    <body>
        <div class="form-cont">
            <h1>Log in</h1>
            <form action="/login" method="POST">
                <input id="username" name="username" placeholder="Username" type="text">    
                <input id="password" name="password" placeholder="Password" type="password">
                <button type="submit">Log In</button>
            </form>
            <div>
                <p>Don't have an account? Sign up <a href="/sign-up">here</a></p>
            </div>
        </div>
    </body>
</html>