<html>
    <head>
        <title>Log in</title>
    </head>
    <body>
        <h1>Please log in</h1>
        <form action="/login" method="POST">
            <div>
                <label for="username">Username</label>
                <input id="username" name="username" placeholder="username" type="text">
            </div>
            <div>
                <label for="password">Password</label>
                <input id="password" name="password" type="password">
            </div>
            <button type="submit">Log In</button>
        </form>
    </body>
</html>