body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #7f67d827;
    width: 100%;
    color: black;
    border-bottom: 2px solid lightgray;
}

header > div {
    padding: 20px;
}

.user-info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

.user-info p:nth-child(2) {
    margin-left: 10px;
    margin-right: 10px;
}


/* Links */
.links {
    display: flex;
    font-weight: 500;
    gap: 25px;
}

.links a{
    color: black;
    text-decoration: none;
    border: 2px solid lightgray;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

.links a:hover {
    background-color: rgb(243, 243, 243);
}

/* All messages */
.all-messages-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.all-messages {
    width: clamp(700px, 70%, 1100px);
}

.messages {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid lightgray;
    padding: 20px;
    overflow-y: auto;
    max-height: 70vh;
    border-radius: 5px;
}

.messages > div > p {
    font-size: 1.4em;
    color: gray;
}

.message {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #7f67d827;
    border-radius: 5px;
    line-height: 1.5;
}

.message:hover {
    background-color: #7f67d854;
}

/* Upper section of message cont */
.upper {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}

.upper > h3, .status-date-cont * {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}

.status-date-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* Lower section of message cont */
.lower {
    display: flex;
    justify-content: space-between;
}

.lower > a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: red;
}

.lower > a:hover {
    text-decoration: underline;
}

.lower p {
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    margin: 0;
    width: 50%;
}

.add-messages {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-messages a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid lightgray;
    height: 30px;
    width: 50px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    font-weight: 500;
}

.add-messages a:hover {
    background-color: rgb(243, 243, 243);
}